@charset "UTF-8";

body,
html {
	margin: 0;
	padding: 0;
}

#banner4_091558969 {
	background-color: #033f63;
	border: 0;
	box-sizing: border-box;
	cursor: default;
	display: block;
	height: 812px;
	overflow: hidden;
	position: relative;
	width: 375px;
	z-index: 1;
}#banner4_091558969 div {
	position: absolute;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#banner4_091558969 img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	padding: 0;
	margin: 0;
}

#b_1_banner4_091558969 {
	top: 88px;
	left: 88px;
	z-index: 1;
}

#img_1_banner4_091558969 {
	width: 198px;
	height: 144px;
}

#img_1_banner4_091558969.bnfy-enter {
	-webkit-animation: fade-in 500ms 2700ms ease 1 both;
	animation: fade-in 500ms 2700ms ease 1 both;
}

#b_2_banner4_091558969 {
	top: 691px;
	left: 98px;
	z-index: 2;
}

#img_2_banner4_091558969 {
	width: 183px;
	height: 44px;
}

#img_2_banner4_091558969.bnfy-enter {
	-webkit-animation: fade-in 500ms 2400ms ease 1 both;
	animation: fade-in 500ms 2400ms ease 1 both;
}

#b_3_banner4_091558969 {
	top: 455px;
	left: 18px;
	z-index: 3;
}

#img_3_banner4_091558969 {
	width: 341px;
	height: 46px;
}

#img_3_banner4_091558969.bnfy-enter {
	-webkit-animation: fade-in 500ms 2100ms ease 1 both;
	animation: fade-in 500ms 2100ms ease 1 both;
}

#b_4_banner4_091558969 {
	top: 361px;
	left: 18px;
	z-index: 4;
}

#img_4_banner4_091558969 {
	width: 341px;
	height: 46px;
}

#img_4_banner4_091558969.bnfy-enter {
	-webkit-animation: fade-in 500ms 1800ms ease 1 both;
	animation: fade-in 500ms 1800ms ease 1 both;
}

#b_5_banner4_091558969 {
	top: 421px;
	left: 18px;
	z-index: 5;
}

#img_5_banner4_091558969 {
	width: 81px;
	height: 25px;
}

#img_5_banner4_091558969.bnfy-enter {
	-webkit-animation: fade-in 500ms 1500ms ease 1 both;
	animation: fade-in 500ms 1500ms ease 1 both;
}

#b_6_banner4_091558969 {
	top: 327px;
	left: 18px;
	z-index: 6;
}

#img_6_banner4_091558969 {
	width: 45px;
	height: 25px;
}

#img_6_banner4_091558969.bnfy-enter {
	-webkit-animation: fade-in 500ms 1200ms ease 1 both;
	animation: fade-in 500ms 1200ms ease 1 both;
}

#b_7_banner4_091558969 {
	top: 545px;
	left: 18px;
	z-index: 7;
}

#img_7_banner4_091558969 {
	width: 341px;
	height: 46px;
}

#img_7_banner4_091558969.bnfy-enter {
	-webkit-animation: fade-in 500ms 900ms ease 1 both;
	animation: fade-in 500ms 900ms ease 1 both;
}

#b_8_banner4_091558969 {
	top: 515px;
	left: 18px;
	z-index: 8;
}

#img_8_banner4_091558969 {
	width: 150px;
	height: 25px;
}

#img_8_banner4_091558969.bnfy-enter {
	-webkit-animation: fade-in 500ms 600ms ease 1 both;
	animation: fade-in 500ms 600ms ease 1 both;
}

#b_9_banner4_091558969 {
	top: 56px;
	left: 18px;
	z-index: 9;
}

#img_9_banner4_091558969 {
	width: 24px;
	height: 16px;
}

#img_9_banner4_091558969.bnfy-enter {
	-webkit-animation: fade-in 500ms 300ms ease 1 both;
	animation: fade-in 500ms 300ms ease 1 both;
}

@media (print), (prefers-reduced-motion: reduce) {
	.banner__element {
		-webkit-animation-duration: 1ms !important;
		animation-duration: 1ms !important;
		-webkit-transition-duration: 1ms !important;
		transition-duration: 1ms !important;
		-webkit-animation-iteration-count: 1 !important;
		animation-iteration-count: 1 !important;
	}
}
@-webkit-keyframes simple-show {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
@keyframes simple-show {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
@-webkit-keyframes simple-hide {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}
@keyframes simple-hide {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes fade-in {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
